*{margin: 0;padding: 0;outline: none;}
html,body{
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.main-content{
  position: relative;
  z-index: 10;
  height: 100%;
}
.container{
  height: 100%;
  padding:0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.main-content .name{
  width: 100%;
  position: fixed;
  top: 20px;
  text-align: center;
  font-size: 20px;
}
.img-wrap{
  width: 200px;
  margin: 10px;
}
.image{
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 2px 6px 0px rgba(40, 46, 59, 0.09);
}

body {
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #76daff;
  overflow: hidden;
}
body:before, body:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #fff;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body:before {
  bottom: 15vh;
  border-radius: 45%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
body:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}